<div class='search-form'>
  <form action='/artist-search' method='get' autocomplete='off'>
    <input type='text' name='search' id='search' placeholder='Artist Search' />
    <button type='submit' id='submit'>Go</button>
  </form>
</div>